/* CalorieCalculator.css */

.calorie-calculator-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #6c21ce, #25d1fc);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.calorie-calculator-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.title {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.input-row .ant-form-item-label > label {
  color: #fff;
}

.calculate-button,
.alert-button-container button {
  background: linear-gradient(to right, #42a5f5, #5b86e5);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.5s ease;
}

.calculate-button:hover,
.alert-button-container button:hover {
  background: linear-gradient(to right, #5b86e5, #42a5f5);
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.result > div {
  flex: 1 1 45%;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.result p {
  color: #fff;
  font-size: 1.2rem;
}

.result ul {
  list-style: none;
  padding: 0;
}

.result ul li {
  background: rgba(255, 255, 255, 0.2);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.ant-modal-content {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
}

.ant-modal-title {
  color: #fff;
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ant-checkbox-wrapper {
  color: #fff;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #42a5f5;
  border-color: #42a5f5;
}

.ant-checkbox-checked::after {
  border-color: #42a5f5;
}

.ant-modal-footer .ant-btn {
  border-radius: 5px;
  transition: background 0.5s ease;
}

.ant-modal-footer .ant-btn-primary {
  background: linear-gradient(to right, #42a5f5, #5b86e5);
  border: none;
  color: #fff;
}

.ant-modal-footer .ant-btn-primary:hover {
  background: linear-gradient(to right, #5b86e5, #42a5f5);
}

.ant-modal-footer .ant-btn-default {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
}

.ant-modal-footer .ant-btn-default:hover {
  background: rgba(255, 255, 255, 0.4);
}


.ant-btn-primary {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border: none;
  box-shadow: 0 4px 15px rgba(0, 242, 254, 0.3);
  transition: all 0.3s ease;
}